* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
}
.menu-wrapper {
    background-color: #b4c7ff;
}
.title {
    background-color: white;
}
.article-wrapper {
    background-color: #ffccd2;
}
.main-wrapper {
    background-color: white;
}
.pagination-wrapper {
    background-color: #d9ffcc;
}
.aside-wrapper {
    background-color: #ffccd2;
}
.footer-wrapper {
    background-color: #b4c7ff;
}