
.menu-wrapper {
    width: 100%;
    height: 25%;
    position: relative;
}
.menu {
    margin-right: 5vw;
    float: right;
    margin-top: 9vh;
}
.header-img {
    position: absolute;
    top: 26%;
    left: 50%;
}
.title {
    width: max-content;
    position: absolute;
    top: 45%;
    left: 5%;
}
.article-wrapper {
    width: 25%;
    height: 50%;
}
.main-wrapper {
    width: 50%;
    height: 50%;
    float: left;
    margin-top: -50vh;
    margin-left: 25%;
}
.pagination-wrapper {
    height: 6vh;
    text-align: center;
    margin-top: 46%;
}
.main-text-wrapper {
    margin-top: 15%;
}
.aside-wrapper {
    width: 25%;
    height: 75%;
    float: right;
    margin-top: -50vh;
}
.footer-wrapper {
    width: 75%;
    height: 25%;
    position: relative;
}
.footer-text, .article-text, .aside-text, .main-text {
    width: 35%;
    float: right;
}
.aside-text, .article-text {
    width: 45%;
}
.aside-text {
    margin-top: 40%;
}
.article-text {
    margin-top: 22%;
    width: 50%;
}
.footer-text {
    position: absolute;
    width: 30%;
    top: 25%;
    right: 0;
}