* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 50vw 1fr;
    grid-template-rows: 1fr 50vh 1fr;
}
.menu-wrapper, .footer-wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
}
.article-wrapper, .main-wrapper, .footer-wrapper, .aside-wrapper{
    display: grid;
    justify-items: end;
    align-items: center;
}
.menu-wrapper {
    grid-column: 1/4;
    align-items: center;

}
.menu-wrapper .menu {
    display: grid;
    width: max-content;
    justify-content: end;
}
.nav-wrapper {
    width: max-content;
    margin-right: 3vw;
}
.menu-wrapper {
    grid-template-columns: max-content 1fr min-content max-content;
}
.header-img {
    width: 160px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
}
.header-img {
    margin-left: auto;
    margin-right: auto;
}
.title {
    margin-left: 5vw;
}
.article-wrapper {
    grid-column: 1/2;
    grid-row: 2/3;
}
.article-text {
    width: 50%;
}
.main-wrapper {
    grid-template-rows: 1fr 5vh;
    grid-column: 2/3;
    grid-row: 2/3;
}
.main-text {
    width: 30%;
}
.pagination-wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    justify-items: center;
}
.aside-wrapper {
    grid-column: 3/3;
    grid-row: 2/4;
}
.aside-text {
    width: 40%;
}
.footer-wrapper {
    grid-column: 1/3;
    grid-row: 3/3;
    align-items: center;
}
.footer-text-wrapper {
    display: grid;
    justify-items: end;
    width: 100%;
}
.footer-text {
    width: 40%;
}